{{- /* Gallery Partial - Dynamically loads images from static/images/gallery folders */ -}}

{{- /* Get all gallery pages organized by category */ -}}
{{- range $category := .Site.Data.gallery_categories -}}
    {{- /* Get all images for this category from static/images/gallery/{category}/ */ -}}
    {{- $categoryPath := printf "images/gallery/%s" $category.slug -}}
    {{- $images := readDir (path.Join "static" $categoryPath) -}}

    {{- range $images -}}
        {{- if not .IsDir -}}
            {{- /* Build direct image path */ -}}
            {{- $imagePath := printf "/%s/%s" $categoryPath .Name -}}

            <div class="gallery-item" data-category="{{ $category.slug }}">
                <img
                    src="{{ $imagePath }}"
                    alt="{{ $category.name }} - {{ .Name }}"
                    loading="lazy"
                    decoding="async">
            </div>
        {{- end -}}
    {{- end -}}
{{- end -}}
